/*  BREAKPOINTS  */

$desktopFullHd: 1920;
$desktopHd: 1600;
$desktop: 1280;
$desktopSmall: 1024;
$tabletLg: 980;
$tablet: 768;
$mobile: 640;
$mobileSmall: 480;

/*  COLORS  */

$gray900: #18191f;
$gray800: #474a57;
$gray700: #969bab;
$gray300: #d9dbe1;
$gray200: #eeeff4;
$gray100: #f4f5f7;

$purple900: #8c30f5;
$purple800: #d6b1ff;
$purple100: #f1e4ff;

$turquoise900: #2ec5ce;
$turquoise800: #75e3ea;
$turquoise100: #d5fafc;

$orange900: #fe9a22;
$orange800: #ffc278;
$orange100: #ffe3c1;

$pink900: #f22bb2;
$pink800: #ff72d2;
$pink100: #ffb1e6;

$pastelBreen: #c1e5c0;
$pastelBlue: #c0dae5;
$peach: #f39f9f;
$peachLight: #fdd9d9;
$cottonCandy: #ffc3d8;
$cyan: #a0dcff;
