.home-page {
  width: 100vw;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: bisque;
  p {
    font-size: 36px;
    font-family: sans-serif;
    color: mediumseagreen;
  }
}
