.home-page {
  width: 100vw;
  height: 100vh;
  background-color: #d9e8ef;
  .main-text {
    font-size: 72px;
    font-weight: 800;
    line-height: 100px;
    &.right {
      text-align: right;
      padding-bottom: 30px;
    }
  }
  .landify-logo {
    width: 600px;
    height: 160px;
  }
  .logo-text {
    font-size: 100px;
    font-weight: 900;
  }
}
